/* Global-ish Styling */
.app {
  background-color: black;
}

.aboutmebody, .workbody, .resumebody {
  min-height: 100%;
  height: auto;
  background-color: black;
  color:rgb(180, 180, 180);
}

.link {
  color: rgb(180, 180, 180);
  text-decoration: none;
  margin: auto 50px;
  font-size: 25px;
}

.link:hover {
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 25px white;
}

/* Header Styling */

.header {
  padding: 15px !important;
}

.mdl-layout-title {
  font-size: 50px !important;
}

/* Aboutme Styling */

#aboutme {
  padding-top: 7%;
}

#bio h2 {
  font-size: 40px;
  font-weight: 600;
}

#bio p {
  margin: 20px 20px 40px 30px;
  font-size: 20px;
  font-weight: 500;
}

.darrenpic {
  margin: 25px;
  width: 75%;
  height: auto;
}

/* Work Styling */

.workbody {
  padding: 60px 40px 0px 40px;
}

#primary {
  padding: 0;
  height: auto;
  position: relative;
}

#secondary {
  padding: 0;
  height: auto;
  position: relative;
}

#mainwork {
  margin: 40px auto;
}

#subwork {
  padding: 0;
  margin: 20px auto;
  width: 40%;
}

.images {
  width: 100%;
  height: auto
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.overlay:hover  {
  background-color: rgb(0, 0, 0, .75);
}

.overlayp, .overlayh3 {
  background-color: rgb(255, 255, 255, 0);
  color:rgb(219, 219, 219, 0);
  width: 70%;
  margin: 10px auto;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.overlayp {
  font-size: 25px;
}

.overlay:hover .overlayp, .overlay:hover .overlayh3 {
  color:rgb(219, 219, 219);
}

/* Resume styling */

.resumebody {
  padding: 40px
}

.resumebody p {
  text-align: center;
  font-size: 40px;
  padding: 0 0 20px 0;
  height: fit-content;
  margin: 50px auto 100px auto;
}

.skillsdiv h1 {
  font-weight: 500;
  letter-spacing: 5px;
  text-align: center;
  margin: 20px;
}

.skillsdiv p {
  font-weight: 400;
  text-align: center;
  padding: 0;
  margin: 30px;
  font-size: 35px;
  height: 50px;
}

/* Footer Styling */

.footer {
  width: 100%;
  height: 100px;
  padding: 20px;
  margin:0;
  text-align: center;
  color: rgb(180, 180, 180);
}

.logos {
  height: 60px;
}

.col-2 {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.col-2:hover {
  opacity: 40%;
}

.num {
  font-size: 20px;
  font-weight: 700;
  padding: 15px;
}

/* Misc Styling */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: black;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(180, 180, 180);
}